<div class="center hero-unit">
    <h1>MarketPlace</h1>
    <p>
      This is the home page for the
  
    <%= render 'shared/view'%>
    <%if logged_in?%>
    <%current_user.name%>
    <%end%>

    </p>
    
</div>
