<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Market Place", '#', id: "logo" %>
      <nav>         
        <ul class="nav pull-right">
        <ul><li><%= link_to "Home",   '#' %></li></ul>
        <ul> <li><%= link_to "Sign in", "" %></li></ul>
        <ul> <li><%= link_to "Sign Up", "" %></li></ul>
        </ul>

       </nav> 
    </div>
  </div>
</header>
